.multiSelect ul {
    width: 100%;
}
form table.table.responsive-table {
    table-layout: fixed;
}

.multiSelect ul input[type="text"] {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-position: left;
    background-size: 2em;
    background-repeat: no-repeat;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 16px;
    padding: 0px 0px 0em 2em;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    color: #4f6877;
}

.multiSelect ul {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.dropdown dd {
    position: relative;

}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    cursor: pointer;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    overflow: hidden;
    border: 0;
    border-radius: 4px;
    vertical-align: middle;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 1;
    margin-top: 6px;
}

.dropdown dd ul {
    display: none;
    background-color: #4F6877;
    color: #fff;
    padding: 10px 5px 2px 5px;
    position: absolute;
    height: 25em;
    z-index: 4;
    list-style: none;
    border-radius: 4px;
    top: -5px;
    font-weight: 900;
}

.multiSelect ul li {
    text-align: left;
    padding-left: 18px;
    z-index: auto;
}

.multiSelect ul::-webkit-scrollbar {}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #46161600;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000004d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000073;
}
/* Handle on hover */
::-webkit-scrollbar-track:hover {
    background: #ffffff1a;
}


#filterBody .titleInput {
    width: 100%;
    text-align: center;
    height: 34px;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: top;
}

dl.dropdown {
    margin-bottom: -5px
}

#filterBody input.btn {
    font-weight: 700;
    width: 100%;
    font-size: inherit;
    height: 34px;
    padding-bottom: 8px;
    padding-top: 4px;
}

#filterBody td {
    border-top: none;
}

@media (max-width: 767px) {
    .dropdown dt a {
        width: 100%;
    }

    .dropdown dd ul {
        width: 100%;
    }

    .dropdown dd ul li {
    }

    #filterBody td {
        padding-left: 0px;
        padding-right: 0px;
    }

    #filterBody .titleInput {
        width: 100%
    }

    .dropdown dd ul li {
    }
}

@media (min-width: 48em) {
    .dropdown dt a {
    }

    .dropdown dd ul {
    }

    .dropdown dd ul li {
        padding-left: 0px
    }

}

@media (min-width: 62em) {
    .dropdown dt a {
    }

    .dropdown dd ul {
    }
}

@media (min-width: 75em) {

}

input.btn {
    vertical-align: top;
}

input[type="checkbox"] {
    visibility: hidden;
}

.multiSelect ul li {
    cursor: pointer;
}