.pages li > a, .pages li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 0px solid #ddd;
}

.pages > li > a, .pages > li > span {
    font-size: 16px;
}

.pages > li > a, .pages > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333333;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
}

.pages > .active > a, .pages > .active > a:focus, .pages > .active > a:hover, .pages > .active > span, .pages > .active > span:focus, .pages > .active > span:hover {
    z-index: 3;
    color: #333;
    cursor: default;
    background-color: #eeeeee;
    border-color: #337ab7
}

.h2, h2 {
    font-size: 26px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: -6px;
    margin-bottom: 1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.company {
    background-color: rgba(0, 137, 255, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
}

.city {
    background-color: rgba(0, 193, 22, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 12px;
}

.language {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 11px;
}