.pages li > a, .pages li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 0px solid #ddd;
}

.pages > li > a, .pages > li > span {
    font-size: 16px;
}

.pages > li > a, .pages > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333333;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
}

.pages > .active > a, .pages > .active > a:focus, .pages > .active > a:hover, .pages > .active > span, .pages > .active > span:focus, .pages > .active > span:hover {
    z-index: 3;
    color: #333;
    cursor: default;
    background-color: #eeeeee;
    border-color: #337ab7
}

.h2, h2 {
    font-size: 26px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: -6px;
    margin-bottom: 1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.company {
    background-color: rgba(0, 137, 255, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 12px;
}

.city {
    background-color: rgba(0, 193, 22, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 12px;
}

.language {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 3px 11px;
}






.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
}
@media (min-width: 48em) {
    .responsive-table {
        font-size: .9em;
    }
}
@media (min-width: 62em) {
    .responsive-table {
        font-size: 1em;
    }
}
.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}

.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: table-row-group;
    padding: 0;
    text-align: center;
    white-space: normal;
}
@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
}
.responsive-table th,
.responsive-table td {
    padding: .5em;
    vertical-align: middle;
}
@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }
}


@media (max-width: 47em) {
    .responsive-table tbody th,
    .responsive-table tbody th h2 small {
        background-color: #1d96b2;
        color: white;
    }
    .responsive-table tbody tr {
        padding-bottom: 30px;
    }
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
        display: grid;
        padding: 0;
        text-align: center;
        white-space: normal;
    }
}

@media (max-width: 767px) {
    .responsive-table tbody th,
    .responsive-table tbody th h2 small {
        background-color: #1d96b2;
        color: white;
    }
    .responsive-table tbody tr {
        padding-bottom: 30px;
    }
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
        display: grid;
        padding: 0;
        text-align: center;
        white-space: normal;
    }
}

@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
        padding: .5em;
    }

}
@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }

}
@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em;
    }

}

.pages > li > a.go_up {
    padding: 20px 40px;
}
