<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<ul>
    <span th:text="${#lists.size(vacancies)}"></span>
    <li th:each="vacancy : ${vacancies}">
            <p data-th-text="${vacancy.time}">...</p>
            <p data-th-text="${vacancy.title}">...</p>
            <p data-th-text="${vacancy.url}">...</p>
            <p data-th-text="${vacancy.company}">...</p>
            <p data-th-text="${vacancy.location}">...</p>
            <p data-th-text="${vacancy.type}">...</p>
    </li>
</ul>
</body>
</html>