<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<ul>
    <span th:text="${#lists.size(vacancies)}"></span>
    <li th:each="vacancy : ${vacancies}">
        <p>time <span data-th-text="${vacancy.time}"></span></p>
        <p>title <span data-th-text="${vacancy.title}"></span></p>
        <p>url <span data-th-text="${vacancy.url}"></span></p>
        <p>company <span data-th-text="${vacancy.company}"></span></p>
        <p>location <span data-th-text="${vacancy.location}"></span></p>
        <p>type <span data-th-text="${vacancy.type}"></span></p>
    </li>
</ul>
</body>
</html>